<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="h3 text-center">
        Audio-Player Examples
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg12">
      <table class="table table-hover table-bordered table-condensed">
        <thead>
        <tr>
          <th class="text-center" style="width: 50%;">Название</th>
          <th class="text-center">Файл</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="text-center">
            Стилизованный
          </td>
          <td class="text-center">
            <audio controls src="assets/2.mp3"></audio>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            Модульный
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/1.mp3" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            Модульный
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/1.mp3" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>
        <tr *ngIf="test">
          <td class="text-center">
            Модульный
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/1.mp3" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>
        <tr>
          <td class="text-center">
            Модульный
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/3.mp3" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>

        <tr *ngIf="test">
          <td class="text-center">
            Модульный 2
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/1.mp3" group="one" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>
        <tr *ngIf="test">
          <td class="text-center">
            Модульный 2
          </td>
          <td class="text-center">
            <ngx-inok-player file="assets/1.mp3" group="one" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>

        <tr *ngIf="test">
          <td class="text-center">
            Модульный 3
          </td>
          <td class="text-center">
            <ngx-inok-player [file]="getFile()" group="one" [onError]="errorMessage"></ngx-inok-player>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<button (click)="onClick()">Click</button>
<button (click)="check()">Click2</button>
